
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="font-size: 14px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;">
    <table cellpadding="0" cellspacing="0" style="width: calc(100% - 20px); max-width: 600px; margin:auto; margin-bottom: 50px;">
        <!--System Logo/Name-->
        <tr>
            <td style="vertical-align: middle; text-align: center; height: 120px;">
                <img style="width: 50px;
                     height: 50px;
                     object-fit: contain;
                     margin-right: 10px;" src="https://i.ibb.co/2kXrfLV/logo-2.png" />
            </td>
        </tr>
        <!--Letter-->
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0"
                       style="width: 100%;
                       background-color: #fff;
                       border-radius: 5px;
                       overflow: hidden;
                       display: flex;
                       flex-direction: column;
                       box-shadow: 2px 2px 6px rgba(0,0,0,0.15);">
                    <!--Banner-->
                    <tr>
                        <td style="position:relative;overflow: hidden; height: 170px; background: url('https://i.ibb.co/cC95Wnm/e-confirmation-banner.jpg') center center no-repeat;
                                   background-size: cover;
                                   text-align: center;
                                   vertical-align: middle;">
                            <h5 style="font-size: 1.5rem;
                                    color: #fff;
                                    margin: 0;
                                    height: 100%;
                                    text-align: center;
                                    line-height: 170px;
                                    background-color: rgba(27,66,152,0.7);">
                                Verify your email address
                            </h5>
                        </td>
                    </tr>
                    <!--Message-->
                    <tr>
                        <td><h1 style="        color: #333;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    ">Hi, John</h1></td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color: #707070;
                               font-size: 1.3em;
                               line-height: 1.5em;
                               text-align: center;
                               padding:0 20px;">
                               In order to start using your Basils Coins account, you need to confirm your email address by clicking the button below.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="display: flex; justify-content: center;">
                        <button style="color: #fff;
                                    background-color: #27ae60;
                                    border-radius: 5px;
                                    outline: none;
                                    border: none;
                                    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
                                    padding: 10px;
                                    width: 100%;
                                    max-width: 300px;
                                    font-size: 1.3em;
                                    margin: 10px auto;
                                    cursor: pointer;">Verify email address</button></td>
                    </tr>
                    <tr>
                        <td style="display:flex;">
                            <div style="height: 2px;
                                 width: 100%;
                                 max-width: 100px;
                                 margin: 10px auto;
                                 background-color: #ccc;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="display: flex;justify-content: center;">
                            <i style="font-size: 13px;
                               color: #aaa;
                               width: 100%;
                               text-align: center;
                               margin-bottom: 30px;
                               margin-top: 20px;">If you did not sign up for this account, ignore this email and the account will be deleted.</i>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>